/*---RESET---*/
body {
  box-sizing: border-box;
<<<<<<< HEAD
  position: relative !important;
=======
>>>>>>> 8126704b59649f50b79579592c79cacab094d917
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

<<<<<<< HEAD
li {
  list-style: none;
}

@mixin form-container {


  .descr {
    &>h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #252733;
      margin-bottom: 12px;
    }

    &>h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      text-align: center;
      letter-spacing: 0.3px;
      margin-bottom: 48px;

    }
  }

  .form {

    display: flex;
    flex-direction: column;
    gap: 24px;

    &-label {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &>span {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
      }

      &-box {
        display: flex;
        flex-direction: column;


        &.active {
          position: relative;

          &>span {
            cursor: pointer;

            &>svg {
              content: '';
              position: absolute;
              right: 10px;
              top: calc(50% - 9px);
              width: 20px;
              height: 20px;
              background-size: contain;
            }
          }

        }


        &>input,
        &-options {

          border: 1px solid #F0F1F7;
          border-radius: 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          padding: 11px 16px;
          /* identical to box height, or 143% */

          letter-spacing: 0.3px;

          /* grayscale / gray dark */




          &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.3px;
            color: #4B506D;
          }

          &>option {
            border: 1px solid #F0F1F7;
            border-radius: 8px;
            padding: 11px 16px;
            color: #252733;
          }


        }


      }
    }

    &-button {
      background: #3751FF;
      /* button / accent default */

      box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
      border-radius: 8px;
      letter-spacing: 0.2px;

      /* grayscale / white */

      color: #FFFFFF;
      width: 100%;
      padding: 13px 24px;
      margin-bottom: 34px;
    }
  }

  .help {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;

    &>a {
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.2px;
      color: #3751FF;
    }
  }

}

=======
>>>>>>> 8126704b59649f50b79579592c79cacab094d917
/*---STYLES---*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
  font-family: 'Mulish';
}

body {
<<<<<<< HEAD
  background: #F7F8FC;
  font-family: 'Mulish';
}

main {
  display: flex;
}

=======
  background: #363740;
  font-family: 'Mulish';
}

>>>>>>> 8126704b59649f50b79579592c79cacab094d917
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 8126704b59649f50b79579592c79cacab094d917

  .container {
    background: #ffffff;
    border: 1px solid #dfe0eb;
    border-radius: 8px;
    width: 380px;
    color: #9FA2B4;
    padding: 40px 32px;

<<<<<<< HEAD
    @include form-container();
  }
}


.svg {
  &>svg {
    fill: "#9FA2B4";

    &>path {
      fill: "#9FA2B4";
    }

    &>g>path {
      fill: "#9FA2B4";
    }
  }

}

.active {
  fill: red;
  opacity: 0.5;
}


.content {
  width: 100%;
  padding: 30px;
}

.table {
  width: 100%;
  text-align: left;
  vertical-align: middle;

  background: #FFFFFF;
  /* grayscale / divider */

  border: 1px solid #DFE0EB;
  border-radius: 8px;
  padding: 30px 0;

  font-family: 'Mulish';
  font-style: normal;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.2px;

  /* grayscale / gray */

  color: #9FA2B4;

  &>table {
    width: 100%;
  }


  td>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }


  th,
  td {
    border-bottom: 1px solid #DFE0EB;
  }

  td {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
    padding: 24px 0;
  }

  th {

    padding-bottom: 12px
  }

  th:not(:nth-child(1), :nth-child(2)),
  td:not(:nth-child(1), :nth-child(2)) {
    padding-left: 40px;
  }

  tbody {

    tr:hover {
      background-color: rgba(55, 82, 255, 0.04);

    }
  }

  td.top {
    border-bottom: none;
    color: #4B506D;

    &>div>a {
      margin-right: 32px;
    }

    &:last-child {
      color: #3751FF;
      vertical-align: middle;
      text-align: center;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 30px;
  }

  th:last-child,
  td:last-child {
    padding-right: 30px;
  }

  th:nth-child(2),
  td:nth-child(2) {
    padding-left: 24px;
  }

  .user-min {
    width: 300px;
  }
}



.modal {

  position: absolute;
  width: 100%;
  background: rgba(54, 55, 64, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  z-index: 2;


  &-content {
    background-color: #fff;
    width: 380px;
    z-index: 2;
    padding: 60px;
    @include form-container()
  }

  &-select {}
=======

    .logo-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 32px;

      &>.logo {
        width: 48px;
        height: 48px;
        margin-bottom: 12px;
      }

      &>p {
        font-weight: 700;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #a4a6b37c;
        opacity: 0.7;
      }
    }

    .descr {
      &>h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #252733;
        margin-bottom: 12px;
      }

      &>h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        text-align: center;
        letter-spacing: 0.3px;
        margin-bottom: 48px;

      }
    }

    .form {

      display: flex;
      flex-direction: column;
      gap: 24px;

      &-label {


        &>span {
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.3px;
          text-transform: uppercase;




        }

        &-box {
          display: flex;
          flex-direction: column;


          &.active {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              right: 10px;
              top: calc(50% - 9px);
              background-color: #3751FF;
              background: url('./images/Vectoreye.svg') no-repeat;
              background-size: cover;
              width: 20px;
              height: 20px;
              background-size: contain;
            }

          }


          &>input {

            border: 1px solid #F0F1F7;
            border-radius: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding: 11px 16px;
            /* identical to box height, or 143% */

            letter-spacing: 0.3px;

            /* grayscale / gray dark */

            color: rgba(75, 80, 109, 0.4);


            &::placeholder {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.3px;
              color: #4B506D;
            }


          }
        }
      }

      &-button {
        background: #3751FF;
        /* button / accent default */

        box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
        border-radius: 8px;
        letter-spacing: 0.2px;

        /* grayscale / white */

        color: #FFFFFF;
        width: 100%;
        padding: 13px 24px;
        margin-bottom: 34px;
      }
    }

    .help {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.3px;

      &>a {
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.2px;
        color: #3751FF;
      }
    }
  }

>>>>>>> 8126704b59649f50b79579592c79cacab094d917
}